* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    
}

.sidebar {
    display: grid;
    grid-template-rows: 2fr 6fr 3fr;
    justify-content: center;
    align-items: center;
    
}

svg {
    
}


ul , li {
    list-style: none;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 20fr;

}

#projects > div {
    background-color: aqua;
    width: 300px;
    height: 90px;
    margin: 10px;
    


}
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}



.ann-card {
    height: 20em;
    border: 1px solid black;
}


.right-side {
    display: grid;
    grid-template-rows: 1fr 4fr;

}
.header {
    display: grid;
    grid-template-rows: 4fr 6fr;
}

.top {
    display: grid;
    grid-template-columns: 8fr 4fr;
}

.bottom {
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.content {
    display: grid;
    grid-template-columns: 7fr 2fr;
    padding: 20px;
    
    
}

.left-con {
    display: grid;
}

.right-con {
    display: grid;
    grid-template-rows: 1fr;
}

.buttons {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center ;
    justify-content: center;
}




