body {
    background-color: white;

}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 97vh;
    
}

.sidebar {
    
}

svg {
    
}

.right-side {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

