* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    
}

.sidebar {
    
}

svg {
    
}

#projects > div {
    background-color: aqua;
    width: 300px;
    height: 90px;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));


}


.right-side {
    display: grid;
    grid-template-rows: 1fr 4fr;

}
.header {
    display: grid;
    grid-template-rows: 4fr 6fr;
}

.top {
    display: grid;
    grid-template-columns: 8fr 4fr;
}

.bottom {
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.content {
    display: grid;
    grid-template-columns: 7fr 2fr;
    padding: 20px;
    
    
}

.right-con {
    display: grid;
    grid-template-rows: 1fr 1fr;
}




